{
  "presets": [
    // ["@babel/preset-env", { 
    //   "modules": "auto",
    //   "targets": [">0.25%", "not ie 11"],
    //   "debug": false,
    //   "useBuiltIns": "usage",
    //   "corejs": 3
    //   }],
    "@babel/preset-typescript",
    "@babel/preset-react" 
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread"//,
    // ["@babel/plugin-transform-destructuring", { 
    //   "useBuiltIns": true 
    //   }
    // ],
    //"@babel/plugin-transform-classes",
    //"@babel/plugin-transform-computed-properties",
    //"@babel/plugin-transform-runtime"
  ]
}